{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "env": {
        "es6": true
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        // We use 4 space indent at Evaneos
        "indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        // Exception for Immutable js type
        "new-cap": [2, { "capIsNewExceptions": ["Record", "Map", "List", "Set", "OrderedSet", "OrderedMap"] }],
        // We use the react-require loader which require automatically React when using jsx
        "react/react-in-jsx-scope": 0,
    }
}