
html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: 'Roboto', sans-serif;
    position: relative;
    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem;
}

.page {
    padding-top: 80px;
    color: rgb(150,150,150);
}

.container {
    margin: auto;
    max-width: 500px;
    text-align: center;
}

@media (max-width: 400px) {
    .pineapple {
        font-size: 150px;
    }
}

@media (min-width: 401px) {
    .pineapple {
        font-size: 220px;
    }
}


.pineapple > * {
    width: 33%;
    vertical-align: middle;
    display: inline-block;
}

.stack-container {
    background-color: rgb(249, 249, 249);
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    max-width: 1100px;
    width: calc(100% - 40px);
}

.error-details {
    margin-left: 15px;
    color: sienna;
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}
pre {
    white-space: pre-wrap;
}

a {
    color: cornflowerblue;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: right;
    padding: 1rem;
}